.contenedorContador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 300px;
    width: 20%;
    margin: 10px 40%;
}

.contador {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2px;
}