.contenedorContador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 300px;
    margin-bottom: 10px;
}

.contador {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2px;
}